@import url('https://fonts.googleapis.com/css2?family=Jomhuria&family=Noto+Sans+Tagalog&display=swap');
@font-face {
  font-family: jeepney;
  src: url(JEEPNEY.TTF)
}


body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f5f5dc;
}

canvas {
  display: block;
  margin: auto;
  margin-top: 11%;
}

h6{
  font-family: jeepney;
  font-size: 80%;
  margin: 0;
  color: inherit;
  margin-top: 5%;
  color: #c83e34;
  text-align: center; 
}
