@import url('https://fonts.googleapis.com/css2?family=Jomhuria&family=Noto+Sans+Tagalog&display=swap');
@font-face {
  font-family: jeepney;
  src: url(JEEPNEY.TTF)
}


body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: beige;
}

canvas {
  display: block;
  margin: auto;
}
